@import url("Bootstrap/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url("node_modules/bootstrap-icons/font/bootstrap-icons.min.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Nav Bar Styling */
.navbar {
    background-color: black;
}

.nav-container {
    background-color: black;
}

.nav-container button {
    border: none;
}

.nav-container button, .navbar-toggler-icon {
    background-color: steelblue;
}

.navbar-brand {
    font-style: italic;
    color: steelblue;
}

.navbar-brand:visited {
    color: steelblue;
}

.navbar-brand:hover {
    color: steelblue;
}

.collapse {
    justify-content: end;
}

/* Header-Showcase Styling */
.showcase {
    background-color: black;
}


.showcase-flex {
    justify-content: center;
    align-items: center;
}

.showcase-text{
    color: steelblue;
    font-style: oblique;
}

.showcase-image {
    display: block;
    height: 300px;
    width: 300px;
    margin-left: 20px;
}

/* Menu-Section Styling */
.menu-section {
    background: linear-gradient(to top right, black, rgb(19, 52, 79), black);
}

.menu-card {
    transition: 0.5s ease-in;
}

.menu-card:hover {
    transform: scaleY(.5);
}

.menu-card-dark {
    background-color: black;
    color: steelblue;
}

.menu-card-steel {
    background-color: steelblue;
    color: black;
}

.menu-food-image {
    height: 200px;
    width: 200px;
}

/* About-Us Accordion Styling */
.about-us-sect {
    background-color: black;
}

.about-us-sect .container h2 {
    color: steelblue;
    font-style: italic
}

/* Review Section Styling */
.review-card {
  background-color: steelblue;
}

.review-card-header {
    border: none;
}

.review-image {
    height: 60px;
    width: 60px;
}

/* Contact Section Styling */
.contact-container {
    background-color: rgb(10, 80, 138);
}

.contact-container .d-flex {
    font-size: 18px;
    justify-content: space-between;
    align-items: center;
}

.contact-container .d-flex ul li {
    list-style-type: none;
    padding-bottom: 16px;
}

.contact-container .d-flex a button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: black;
}

.bi-arrow-up {
    color: rgb(14, 99, 168);
}

/* Footer Styling */
footer {
    color: steelblue;
}

/* Header-Showcase Media Queries */
@media (min-width: 400px) and (max-width: 990px) {
    .showcase-flex {
        flex-direction: column;
    }
}

@media (min-width: 0px) and (max-width: 399px) {
    .showcase-image {
        display: none;
    }
}

/* Menu Section Media Query */
@media (min-width: 991px) and (max-width: 1199px) {
    .menu-container .row {
        display: flex;
        flex-direction: column;
    }
}

/* Review Section Media Queries */
@media (min-width: 768px) and (max-width: 990px) {
    .review-section .container .row {
        display: flex;
        flex-direction: column;
    }
}

/* Contact Section Media Queries */
@media (max-width: 468px) {
    .contact-container .d-flex {
        flex-direction: column;
    }
}